body {
    text-align: center;
    font-family: "Century Gothic";
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 10px auto;
    padding: 1em;
    text-align: left;
    box-shadow: 0px 0px 5px 0px #000;
}

.container .post h2 {
    font-size: 20px;
}

.container .post p {
    text-align: justify;
}

.container .post p span{
    font-weight: bold;
    color: deeppink;
}